

<% @recipes.each do |category, recipes| %>
    <h2><%= category.name if category %></h2>
    <h3><%= pluralize(category.recipes.count, "Recipe") %></h3>
    <ul>
        <% recipes.each do |recipe| %>
            <p>
                <li><%= link_to recipe.name, recipe_path(recipe) %> </li>
                <strong>by: <%= mail_to recipe.user.email %></strong> 
            </p>
        <% end %>
    </ul>
<% end %>