

<% @categories.each.with_index(1) do |category, index| %>
    <ul>
        <li><%= index %> <strong><%= category.name %></strong></li>
    </ul>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: :delete %>
<% end %>